* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
  background-color: black;
  height: 100vh;
}

.debug {
  min-height: 80px;
  background-color: #888;
  padding: 2rem;
}

/*HEADER*/
.header-container {
  height: 130px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.button-speaker {
  color: white;
  font-size: 30px;
  display: inline-block;
  padding: 15px;
  background-color: #888;
  border-radius: 10px;
  line-height: 10px;
  margin-top: 30px;
}

/*MAIN*/
.section-container section {
  margin-left: 50px;
  margin-right: 50px;
  padding: 0 15px;
  background-color: black;
  width: 2900px;
  height: calc(100vh - 130px - 80px);
  overflow: scroll;
  position: relative;
}

.card {
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 15px;
  width: 400px;
  height: 300px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  float: inline-start;
}

.name-student {
  color: white;
  padding: 10px;
  background-color: #888;
  border-radius: 10px;
  position: absolute;
}

footer {
  height: 100px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-icon {
  color: white;
  font-size: 30px;
  display: inline-block;
  padding: 20px;
  align-items: center;
  background-color: #888;
  border-radius: 10px;
  line-height: 10px;
  margin-top: 30px;
  text-align: center;
}

.footer-icon-green {
  color: green;
  font-size: 30px;
  display: inline-block;
  padding: 20px;
  align-items: center;
  background-color: #888;
  border-radius: 10px;
  line-height: 10px;
  margin-top: 30px;
  text-align: center;
}

.end {
  color: red;
  font-size: 30px;
  display: inline-block;
  padding: 20px;
  align-items: center;
  background-color: #888;
  border-radius: 10px;
  line-height: 10px;
  margin-top: 30px;
  text-align: center;
}
