* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.debug {
  min-height: 80px;
  background-color: #888;
  padding: 2rem;
}

/*HEADER*/
.header-container {
  height: 130px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: black;
  position: fixed;
  width: 100%;
}

.button-speaker {
  color: white;
  font-size: 30px;
  display: inline-block;
  padding: 15px;
  background-color: #888;
  border-radius: 10px;
  line-height: 10px;
  margin-top: 30px;
}
